---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* type scale */
$type-size-1 : 3.051em;  // ~39.056px
$type-size-2 : 2.441em;  // ~31.248px
$type-size-3 : 1.953em;  // ~25.008px
$type-size-4 : 1.562em;   // ~20px
$type-size-5 : 1.25em;      // ~16px
$type-size-6 : 0.937em;   // ~12px
$type-size-7 : 0.859em; // ~11px
$type-size-8 : 0.781em;  // ~10px

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
